body{
    margin: 0px;
}

header {
    background-color: #66a3ff;
    border: #F2F2F2;
    font-family: 'Open Sans Condensed';
    font-size: 2em;
    font-weight: 800;

    text-align: center;
    padding: 10px;
}

footer{
    background-color: #66a3ff;
    border: #f2f2f2;
    text-align: center;
    padding: 1em;
}

nav{
    background-color: #f2f2f2;
    text-align: left;
    overflow: hidden;
    padding-left: 2em;
}

nav a{
    background-color: #f2f2f2;
    color: black;
    display: block;
    float: left;
    text-decoration: none;
    padding: 10px 10px;    
}

nav a:hover{
    background-color: rgb(161, 161, 161);
}

.slidesPlaceholder{
    height: 60vh;
    background-color: #d5f4e6;
    text-align: center;
}

.contentItem{
    margin: 10px;
}

.descriptionPlaceholder{
    width: 80%;
    height: 200px;
    background-color: white;
    text-align: center;
    float: left;
}

.extraPlaceholder{
    width: 20%;
    background-color: #a2ffd5;
    text-align: left;
    float:right;
}

.contentPlaceholder{
    width: 100%;
    margin: auto;
    
    display: flex;
}