.graphContainer{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

    background-color: aquamarine;
    align-self: center;
}

.graphContainer .graphDescription{
    min-height: 50px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
    background-color: lavenderblush;
}

.graphContainer .inputs{
 
    margin-left: 5%;
    margin-right: 5%;
    height: 60px;
    align-self: center;
    background-color: khaki;
}

.graphContainer .graph{
    margin-left: 5%;
    margin-right: 5%;

    height: 500px;
    align-self: center;
    background-color: lawngreen;
}

.graphContainer .inputs .graphSelect{
    float: left;
    width : 80px;
    height : 60px;
    background-color: teal;
}

.graphContainer .inputs .exportInput{
    float: right;
    height: 60px;
    background-color: teal;
    width: 80px;
}