.graphContainer{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

    background-color: #f2f2f2;
    align-self: center;
}

.graphContainer .graphDescription{
    min-height: 50px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
    background-color: #ffff4d;
}

.graphContainer .inputs{
 
    margin-left: 5%;
    margin-right: 5%;
    height: 60px;
    align-self: center;
    background-color: #ffff4d;
}

.graphContainer .graph{
    margin-left: 5%;
    margin-right: 5%;

    height: 500px;
    align-self: center;
    background-color: lightgray;
}

.graphContainer .inputs .graphSelect{
    float: left;
    width : 80px;
    height : 60px;
    background-color: #9999ff;
}

.graphContainer .inputs .exportInput{
    float: right;
    height: 60px;
    background-color: #9999ff;
    width: 80px;
}