.mapInPage {
    position: fixed;
}


#RO-AB:hover {
    fill:white;
}

#RO-AG:hover {
    fill: white;
}

#RO-AR:hover {
    fill:white;
}

#RO-BC:hover {
    fill:white;
}

#RO-BH:hover {
    fill:white;
}

#RO-BN:hover {
    fill:white;
}

#RO-BR:hover {
    fill:white;
}

#RO-BT:hover {
    fill:white;
}

#RO-B:hover {
    fill:white;
}

#RO-BV:hover {
    fill:white;
}

#RO-BZ:hover {
    fill:white;
}

#RO-CJ:hover {
    fill:white;
}

#RO-CS:hover {
    fill:white;
}

#RO-CT:hover {
    fill:white;
}

#RO-CV:hover {
    fill:white;
}

#RO-DB:hover {
    fill:white;
}

#RO-DJ:hover {
    fill:white;
}

#RO-GJ:hover {
    fill:white;
}

#RO-GL:hover {
    fill:white;
}

#RO-GR:hover {
    fill:white;
}

#RO-HD:hover {
    fill: white;
}

#RO-HR:hover {
    fill:white;
}

#RO-IF:hover {
    fill:white;
}

#RO-IL:hover {
    fill:white;
}

#RO-IS:hover {
    fill:white;
}

#RO-MH:hover {
    fill:white;
}

#RO-MM:hover {
    fill:white;
}

#RO-MS:hover {
    fill:white;
}

#RO-NT:hover {
    fill:white;
}

#RO-OT:hover {
    fill:white;
}

#RO-PH:hover {
    fill:white;
}

#RO-SB:hover {
    fill:white;
}

#RO-SJ:hover {
    fill:white;
}

#RO-SM:hover {
    fill:white;
}

#RO-SV:hover {
    fill:white;
}

#RO-TL:hover {
    fill:white;
}

#RO-TM:hover {
    fill:white;
}

#RO-TR:hover {
    fill:white;
}

#RO-VL:hover {
    fill:white;
}

#RO-VN:hover {
    fill:white;
}

#RO-VS:hover {
    fill:white;
}