.mapInPage {
    position: fixed;
}
#RO-GR:hover {
    fill:white;
}

#RO-HD:hover {
    fill: white;
}

#RO-HR:hover {
    fill:white;
}

#RO-IF:hover {
    fill:white;
}

#RO-IL:hover {
    fill:white;
}

#RO-IS:hover {
    fill:white;
}

#RO-MH:hover {
    fill:white;
}

#RO-MM:hover {
    fill:white;
}

#RO-MS:hover {
    fill:white;
}

#RO-NT:hover {
    fill:white;
}

#RO-OT:hover {
    fill:white;
}

#RO-PH:hover {
    fill:white;
}

#RO-SB:hover {
    fill:white;
}

#RO-SJ:hover {
    fill:white;
}

#RO-SM:hover {
    fill:white;
}

#RO-SV:hover {
    fill:white;
}

#RO-TL:hover {
    fill:white;
}

#RO-TM:hover {
    fill:white;
}

#RO-TR:hover {
    fill:white;
}

#RO-VL:hover {
    fill:white;
}

#RO-VN:hover {
    fill:white;
}

#RO-VS:hover {
    fill:white;
}