.mapInPage {
    position: fixed;
}





























































































































































































































































































































































































#RO-AB:hover{
    fill: #ffffff;
}

#RO-AG:hover{
    fill: #ffffff;
}

#RO-AR:hover{
    fill: #ffffff;
}

#RO-BC:hover{
    fill: #ffffff;
}

#RO-BH:hover{
    fill: #ffffff;
}

#RO-BN:hover{
    fill: #ffffff;
}

#RO-BR:hover{
    fill: #ffffff;
}

#RO-BT:hover{
    fill: #ffffff;
}

#RO-B:hover{
    fill: #ffffff;
}

#RO-BV:hover{
    fill: #ffffff;
}

#RO-BZ:hover{
    fill: #ffffff;
}

#RO-CJ:hover{
    fill: #ffffff;
}

#RO-CL:hover{
    fill: #ffffff;
}

#RO-CS:hover{
    fill: #ffffff;
}

#RO-CT:hover{
    fill: #ffffff;
}

#RO-CV:hover{
    fill: #ffffff;
}

#RO-DB:hover{
    fill: #ffffff;
}

#RO-DJ:hover{
    fill: #ffffff;
}

#RO-GJ:hover{
    fill: #ffffff;
}

#RO-GL:hover{
    fill: #ffffff;
}