.developers {
    color: white;
    display: inline-block;
}

.Diana {
    margin-right: 5px;
    text-align: right;
    color: #333538;
    margin-top: 3em;
    background-color: #FFE400;
    height: 150px;
    width: 400px;
    padding-right: 5px;
}

.Diana button {
    background-color: #14A76C;
    border: none;
    border-radius: 12px;
    height: 20px;
}


.Sergiu {
    text-align: right;
    color: #333538;
    margin-top: 3em;
    height: 150px;
    width: 400px;
    background-color: #14A76C;
    padding-right: 5px;
}

.Sergiu button {
    background-color: #FF652F;
    border: none;
    border-radius: 12px;
    height: 20px;
}

.Vlad {
    text-align: right;
    color: #333538;
    margin-top: 3em;
    height: 150px;
    width: 400px;
    background-color: #FF652F;
    padding-right: 5px;
}

.Vlad button{
    background-color: #FFE400;
    border: none;
    border-radius: 12px;
    height: 20px;
}