img {
    float:left;
    background-color: #747474;
    margin:0 -10px;
}
body{
    align-content: center;
    flex-wrap: wrap;
    background-color: #272727;
}

header {
    background-color: #747474;
    border: #b3c7d6;
    font-family: 'Sans-serif', sans-serif;
    font-size: 2em;
    font-weight: 500;
    text-align: center;
    padding: 10px;
    color: #f2f2f2;
}

footer{
    background-color: #747474;
    border: #b3c7d6;
    text-align: center;
    padding: 1em;
    margin-top: 2em;
}

.menu-nav{
    background-color: #FFE400;
    text-align: left;
    overflow: hidden;
    padding-left: 2em;
    margin-right: 0;
}

.menu-nav a{
    background-color: #FFE400;
    display: inline;
    float: left;
    text-decoration: none;
    padding: 10px 10px;
}

.menu-nav a:hover{
    background-color: #14A76C;
    padding : 10px 10px;
}

.dropdown-menu {
    display: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFE400;
    overflow: auto;
    z-index: 1;
}

.menuButton {
    display: none;
    border: none;
    height: 50px;
    width: 80px;
    background-color: #272727;
    color: #9999ff;
    text-align: center;
}

.slidesPlaceholder{
    height: 60vh;
    background-color: #ccccff;
    text-align: center;
}

.contentItem{
    margin-top: 1em;
    margin-right: 0.5em;
}

.descriptionPlaceholder{
    width: 80%;
    height: inherit;
    background-color: #FFE400;
    text-align: center;
    float: left;
}

.extraPlaceholder{
    width: 20%;
    margin-top : 1em;
    margin-left: 0.5em;
    text-align: left;
    float:right;
    overflow-y : scroll;
    display: flow;
    height: inherit;
}

.newsItem{
    background-color: #FF652F;
    width: 90%;
    margin: 0 5%;
    /*height: 120px;*/
    height: fit-content;
    padding-top: 1em;
    padding-bottom: 0.5em;
}


.hiddenDeleteButton{
    display: none;
    position: absolute;
    right: 4em;
}

.newsItem h3{
    text-align: center;
    margin-top : 0;
    margin-bottom: 0.5em;
}

.newsItem p{
    text-align: left;
    margin: 0 1em;
    width: auto;
    word-wrap: break-word;
}

.contentPlaceholder{
    width: 100%;
    margin: auto;

    display: flex;
    height: 35vh;
}

.phoneSlideImage {
    display: none;
}

ul#MainNav li {
    display:inline;
}
