.slideshowContainer{
    max-width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
    background-color: inherit;
    position: relative;
}

.slideshow{
    /*padding-left: 15%;*/
    /*height: 50%;
    min-height: 500px;*/
    padding-left: 15%;
    padding-right : 15%;
    padding-top:1em;
}

.slideContainer{
    display: none;
}

.previousSlide, .nextSlide{
    cursor: pointer;
    /*position: relative;*/
    /*top : -250px;*/
    /*bottom: 50%;*/
    /*top : 50px;*/
    /*align-self: center;*/
    margin-right: 1px;
    margin-left: 1px;
    width: auto;
    /*height: auto;*/
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 0 0 0;
    /*margin-top : 50px;*/
}

.slideshowContainer .previousSlide{
    position: absolute;

    justify-content: left;

    right : 100%;
    top : 50%;
    z-index: 1;
    transform: translate(+0%, -50%);
}

.slideshowContainer .nextSlide{
    position: absolute;

    justify-content: right;

    top : 50%;
    left: 100%;
    z-index: 1;
    transform: translate(+0%, -50%);
}
/*
.nextSlide{
    left: 50%;
    position: absolute;
    border-radius:  3px 0 0 3px;
}

.previousSlide{
    right : 50%;
    position: absolute;
    border-radius: 3px 0 0 3px;
    bottom : 50%;
}

*/

.previousSlide:hover, .nextSlide:hover{
    background-color: rgba(0,0,0,0.8);
}

.slideText{
    color: #555555;
    font-size: 16px;
    padding: 0 5px;
    position: relative;
    bottom: 30px;
    width: 100%;
    height: 0;
    text-align: center;
}

.slideNumberText{
    color: #555555;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dotSlide{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    display: inline-block;
    transition: background-color 0.6s ease;
}


.slideshowDescription{
}

.active, .dotSlide:hover{
    background-color: #717171;
}

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}

.slideImage{
    width: 100%;
    height: inherit;
}